:root{
    --letter-steps: 6;
    --yellow: #FFE367;
    --yellow-shadow: #f0c740;
    --green: #295500;
    --blue: #00002b;
    --orange: #e37100;
    --dark-orange: #c62e00;
    --white: rgb(244, 240, 231);
    --charwidth: 192px;
    --charheight: 192px;
}

.hide{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    aspect-ratio: 16/9;
    /* background-size: cover; */
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;;
    letter-spacing: 2px;
    overflow: hidden;
    user-select: none;
}

#score{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background-color: var(--orange);
    box-shadow: 0 -10px 0 0 var(--dark-orange) inset;
    width: 75px;
    padding: 20px 50px;
    font-size: 2em;
    text-align: center;
    outline: solid black 2px;
    border-radius: 10px;
}

img{
    background-image: url('./background.png');
    background-color: rgb(216, 230, 236);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: -10%;
    width: 120vw;
    height: 100vh;
}

.shake{
    animation: horizontal-shake 0.3s forwards;
}

.char{
    width: var(--charwidth);
    height: var(--charheight);
    position: absolute;
    bottom: 25%;
    z-index: 5;
}

/* Lanxe - Animations for id = player */
#player {
    left: 30%;
    bottom: 30%;
    width: 192px;
    height: 192px;
    background-image: url('./knight_idle_sheet.png');
    background-repeat: no-repeat;
    position: absolute;
    animation: playerIdle 0.5s steps(6) infinite; /* Apply the idle animation */
}
    
#player.attack {
    background-image: url('./knight_attack_sheet.png');
    animation: playerAttack 0.2s steps(4) 1; /* Apply the attack animation */
}

/* Lanxe - Animations for class = enemy */
#en0 {
    right: 35%;
    bottom: 30%;
    width: 192px;
    height: 192px;
    background-image: url('./enemy_idle_sheet.png');
    background-repeat: no-repeat;
    position: absolute;
    animation: enemyIdle 0.5s steps(6) infinite; /* Apply the idle animation */
}

#en1 {
    right: 20%;
    bottom: 30%;
    width: 192px;
    height: 192px;
    background-image: url('./enemy_idle_sheet.png');
    background-repeat: no-repeat;
    position: absolute;
    animation: enemyIdle 0.5s steps(6) infinite; /* Apply the idle animation */
}

#en2 {
    right: 5%;
    bottom: 30%;
    width: 192px;
    height: 192px;
    background-image: url('./enemy_idle_sheet.png');
    background-repeat: no-repeat;
    position: absolute;
    animation: enemyIdle 0.5s steps(6) infinite; /* Apply the idle animation */
}
    
#en0.attack {
    background-image: url('./enemy_attack_sheet.png');
    animation: enemyAttack 0.2s steps(4) 1; /* Apply the attack animation */
}

#en1.attack {
    background-image: url('./enemy_attack_sheet.png');
    animation: enemyAttack 0.2s steps(4) 1; /* Apply the attack animation */
}

#en2.attack {
    background-image: url('./enemy_attack_sheet.png');
    animation: enemyAttack 0.2s steps(4) 1; /* Apply the attack animation */
}

.healthbar{
    position: absolute;
    top: -15%;
    left: -5%;
    width: 80%;
    height: 10%;
    background-color: red;
    display: flex;
    align-items: center;
    box-shadow: 0px -5px 0 0 rgb(192, 0, 0) inset;
    border-radius: 5px;
    border: black 2px solid;
}

.healthbar::before{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    left: -25px;
    top: -12px;
    display: inline-block;
    background-image: url("https://opengameart.org/sites/default/files/heart%20pixel%20art%20254x254.png");
    filter: brightness(1.3);
    background-size: 45px 45px;
    background-repeat: no-repeat;
}

.healthbar>span{
    position: absolute;
    left: -17px;
    top: -3px;
    text-align: center;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 1.1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /* outline: solid blue 2px; */
}

.dmgstat{
    position: absolute;
    top: -15%;
    right: -5%;
    width: 15%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: black 2px solid;
}

.dmgstat::before{
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    left: -39px;
    bottom: -28px;
    transform: rotateZ(180deg);
    background-image: url("sword.png");
    filter: brightness(2.2);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    z-index: -1;
}

.fight-container{
    display: inline-block;
    width: 50vw;
    height: 120px;
    background-color: var(--orange);
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 -15px 0 0 var(--dark-orange) inset;
    outline: black 2px solid;
    z-index: 20;
    overflow: hidden;
}

.fight-container>p{
    display: none;
    margin-top: 30px;
    line-height: 2rem;
    font-size: 1.2em;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1px;
}

.typeW{
    margin-top: 30px;
    line-height: 2rem;
    font-size: 1.2em;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1px;
}

.typeW::before{
    content: "";
    position: absolute;
    top: -10px;
    bottom: 0;
    left: -20px;
    right: 0;
    background-color: var(--orange);
    animation: typewriter 0.8s steps(var(--letter-steps)) forwards;
}

#attack-btn{
    position: absolute;
    left: 50%;
    bottom: 4%;
    font-size: 2.2em;
    background: var(--orange);
    padding: 30px 40px;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 -15px 0 0 var(--dark-orange) inset;
    outline: black 2px solid;
    transition: 0.1s ease-in-out;
}

#attack-btn:hover{
    background-color: var(--yellow);
    box-shadow: 0 -15px 0 0 var(--yellow-shadow) inset;
    transition: 0.1s ease-in-out;
}

.hurt{
    animation: hit 0.5s forwards;
}

.dead{
    animation: dead 1s ease-in;
}

#transition-element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
    display: inline-block;
    filter: opacity(1);
}

.hidden{
    animation:fade-in 2s forwards;
}

.changing-frame{
    animation: fade-out 1s forwards;
}

@keyframes horizontal-shake {
    0%{transform:translateX(0)}
    25%{transform:translateX(2px)}
    50%{transform:translateX(-2px)}
    75%{transform:translateX(2px)}
    100%{transform:translateX(0)}
}

@keyframes typewriter {
    to{left: 100%}
}

@keyframes hit{
    0%{background-color:inherit}
    25%{background-color: rgb(255, 77, 77)}
    50%{background-color: inherit}
    75%{background-color: rgb(255, 77, 77)}
    100%{background-color:inherit}
}

@keyframes dead{
    0%{height: 250px}
    100%{height: 0px}
}

@keyframes fade-out{
    0%{filter: opacity(0)}
    100%{filter:opacity(1)}
}

@keyframes fade-in{
    0%{filter: opacity(1)}
    100%{filter:opacity(0)}
}

@media only screen and (max-height:900px), (max-width:1400px){
    #player{
        left: 20%;
    }
    .healthbar,.dmgstat{
        top: 0;
    }
    .healthbar::before{
        width: 35px;
        height: 35px;
        background-size: 35px 35px;
        left: -17px;
        top: -8px;
    }
    #en1>*{
        top: -30%;
    }
    .healthbar>span{
        left: -14px;
        top: -3px;
    }
    .dmgstat::before{
        width: 75px;
        height: 75px;
        background-size: 75px 75px;
        left: -25px;
        top: -35px;
    }
    
    .fight-container{
        width: 70%;
        height: 100px;
        bottom: 15%;
        font-size: 0.8em;
    }
    #attack-btn{
        font-size: 2em;
        padding: 20px 25px;
        bottom: 1%;
    }

}

@media only screen and (max-width:680px){
    #player{
        left: 0;
        top: 50%;
    }
    #en0,#en1,#en2{
        top: 50%;
    }
    .healthbar{
        width: 50%;
        height: 7%;
        left: 20%;
        top: 8%;
    }
    .healthbar::before{
        width: 25px;
        height: 25px;
        background-size: 22.5px 22.5px;
        top: -5px;
        left: -12px;
    }
    .healthbar>span{
        font-size: 0.7em;
        left: -15px;
        top: -2px;
    }
    #en1>*{
        top: -10%;
    }
    .dmgstat{
        top: 8%;
        right: 15%;
        width: 8%;
        height: 7%;
    }
    .fight-container{
        width: 75%;
        font-size: 0.5em;
        height: 80px;
    }
    .fight-container>p{
        margin-top: 20px;
    }
    .dmgstat{
        font-size: 0.6em;
    }
    .dmgstat::before{
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        left: -19px;
        top: -23px;
    }
    #attack-btn{
        font-size: 1em;
        bottom: 3%;
    }
}


    
@keyframes playerIdle {
    0% { background-position: 0 0; }
    100% { background-position: -1152px 0; }
}
    
@keyframes playerAttack {
    0% { background-position: 0 0; }
    100% { background-position: -768px 0; }
}
    
@keyframes enemyIdle {
    0% { background-position: 0 0; }
    100% { background-position: -1152px 0; }
}
    
@keyframes enemyAttack {
    0% { background-position: 0 0; }
    100% { background-position: -768px 0; }
}

